<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
	<!-- Path to the repository -->
	<add key="repoPath" value=""/>
	<!-- This is substituted as a responsible person in the error page.
		Can be email or any other text.
		This is subsituted to html code without escaping! -->
	<add key="admin" value="(admin forgot to fill this in configuration)"/>
	<!-- Some CGI handlers do not initialize PATH. So path to the git should be provided.
		It should be enough to work -->
	<add key="gitExe" value="/usr/bin/git"/>
</appSettings>
</configuration>
