<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
	<!-- Path to the repository -->
	<add key="repoPath" value=""/>
	<!-- This is substituted as a responsible person in the error page.
		Can be email or any other text.
		This is subsituted to html code without escaping! -->
	<add key="admin" value="(admin forgot to fill this in configuration)"/>
	<!-- Some CGI handlers do not initialize PATH. So path to the git should be provided.
		It should be enough to work -->
	<add key="gitExe" value="/usr/bin/git"/>
	<!-- Regular expression to use to parse commit message. Expected to contain groups
		to be used in `filenameTemplate`. Syntax is as described in
		https://docs.microsoft.com/en-us/dotnet/standard/base-types/regular-expression-language-quick-reference -->
	<add key="messagePattern" value="^(.*)\n"/>
	<!-- Format to use for filename. Should contain references as described in
		https://msdn.microsoft.com/en-us/library/system.string.format.aspx#FormatItem
		parameters are:
		* commit hash
		* author name
		* author datetime
		* .... - more parameters are takes as corresponding match group from `messagePattern`
		After substitution the filename is sanitized
		by replacing all non-appropriate symbols by '_'-->
	<add key="filenameTemplate" value="{0}{1}{2}"/>
</appSettings>
</configuration>
